.quina-bloco-principal {
    display: flex;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;
}

.quina-bloco-loteria {
    display: flex;
}

.quina-nome-loteria {
    font-size: 28px;
    font-weight: bold;
    color: #930089;
    margin-left: 10px;
}

.quina-bloco-estimativa {
    width: 240px;
    margin-left: 45px;
    margin-top: 15px;
}

.quina-texto-estimativa {
    font-size: 15px;
    color: #4c556c;
}

.quina-valor-estimativa {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: #930089;
}

.quina-bloco-direita {
    margin-left: 50px;
}

.quina-linha-bola {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.quina-bola {
    font-size: 20px;
    font-weight: bold;
    color: #930089;
    border-radius: 25px;
    padding: 10px;
    margin: 0px 15px;
}

.quina-texto-acumulou {
    font-size: 28px;
    font-weight: bold;
    color: #0066b3;
    margin-top: 15px;
    padding-left: 15px;
}

.quina-data-concurso {
    margin-top: 15px;
    color: #4c556c;
    padding-left: 15px;
    font-size: 15px;
}